<div id="userlogin">
    <div class="text-center">
        <h2 class="text-primary my-2"><mark>User Registration</mark></h2>
    </div>
    <div class="m-5 p-5">
        <form [formGroup]="userRegisterForm">
            <div class="form-group col-md-7">
                <div class="form-group">
                    <label for="exampleInputEmail1" style="color:white;"> Name</label>
                    <input type="fname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        formControlName="name">
                </div>
            </div>

            <!-- <div class="form-group col-md-7">
                <div class="form-group">
                    <label for="exampleInputEmail1" style="color:white;">Last Name</label>
                    <input type="lname" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="email">
                </div>
            </div> -->

            <div class="form-group col-md-7">
                <label for="exampleInputEmail1" style="color:white;">Email id</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    formControlName="email">
            </div>

            <div class="form-group col-md-7">
                <div class="form-group">
                    <label for="exampleInputEmail1" style="color:white;">Phone No</label>
                    <input type="phone" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        formControlName="phone">
                </div>
            </div>

            <!-- <div class="form-group col-md-7">
                <div class="form-group">
                    <label for="exampleInputEmail1" style="color:white;">Address</label>
                    <input type="address" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"  formControlName="name">
                </div>
            </div> -->

            <div class="form-group col-md-7">
                <label for="exampleInputPassword1" style="color:white;">Password</label>
                <input type="password" class="form-control" id="exampleInputPassword1" formControlName="password">
            </div>

            <div class="form-group col-md-7">
                <label for="exampleInputPassword1" style="color:white;"> Confirm Password</label>
                <input type="cpassword" class="form-control" id="exampleInputPassword1" formControlName="cpassword">
            </div>

            <button type="submit" class="btn btn-warning" (click)="onUserRegistrationSubmit()">Register</button>
        </form>
    </div>

</div>