<!--Header-->
<nav class="navbar navbar-expand-lg navbar-light bg-info">
  <a class="navbar-brand" href="#">Food Recipies Inventory</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/admincrud">recipes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Contact</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit" (click)="logOut()">Logout</button>
    </form>
  </div>
</nav>
<!--/Header-->

<!-- <div class="container">
  <div class="jumbotron my-5">
    <h1 class="display-4">Hello, <strong>{{user?.username}}</strong> user</h1>
    <p class="lead">weclome to recipe admin screen</p>
    <hr class="my-4">
    <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
    <a class="btn btn-success btn-lg" href="#" role="button">Learn more</a>
  </div>
</div> -->

<app-admin-recipe-crud></app-admin-recipe-crud>


<!--Footer-->

<footer class="footer mt-auto py-3 bg-info fixed-bottom">
  <div class="container text-center">
    <span class="text-black">Coptright&copy;2022 Reserved by Recipe admin. </span>
  </div>
</footer>

<!--/Footer-->